footer {
    background-color: palevioletred;
    color: #fff;
    padding: 20px;
}

body {
    background-color: cornflowerblue;
    text-align: center;
}

form {
    text-align: center;
    background-color: darkblue;
    color: cyan;

}
